body{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.main{
    width:70vh;
    height:70vh;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr)
}
.main div{
    border: 1px solid black
}
.snake{
    background: greenyellow;
}